In [9]:
import wrds
file_key = open("../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [10]:
import pandas as pd
import numpy as np
from datetime import date

# Get Yield Curve Data (CRSP)

In [11]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2024-11-22,4.424634,4.296562,4.272932,4.309880,4.371744,4.694971,4.556757
2024-11-25,4.385785,4.192535,4.137078,4.170965,4.220091,4.549476,4.407984
2024-11-26,4.398351,4.200399,4.150193,4.197205,4.253809,4.574224,4.422364
2024-11-27,4.373721,4.175960,4.100188,4.144673,4.205491,4.530347,4.386559
2024-11-29,4.309264,4.105397,4.034878,4.080245,4.133901,4.472449,4.321918

***

# Save to Excel

In [12]:
outfile = f'../data/yields.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)

***